<header
  class="text-center fw-bold fs-4 py-2 mb-5 shadow-sm text-white"
  style="height: 70px; background-color: #4169e1"
>
  Weather Dashboard
</header>

@if (isLoaded) {
<div class="container-fluid px-5">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <h5>Enter a city name</h5>
      <form action="" [formGroup]="form" class="mb-3">
        <input
          class="form-control"
          type="text"
          placeholder="E.g., New York London, Tokyo"
          formControlName="input"
        />

        <div
          class="text-danger"
          *ngIf="
            form.get('input')?.hasError('required') &&
            form.get('input')?.touched
          "
        >
          City name is required!
        </div>
      </form>
      <button
        class="btn btn-primary w-100 text-white"
        (click)="getWeatherForecast()"
      >
        Search
      </button>
      <div class="line-with-text w-100 my-2"><span>or</span></div>
      <button
        class="btn btn-secondary w-100 mb-4"
        (click)="getCurrentWeatherByLatLon()"
      >
        Use Current Location
      </button>
    </div>
    <div class="col-md-12 col-lg-8">
      <app-curent-weather
        [currentWeather]="weather"
        [date]="date"
      ></app-curent-weather>
    </div>
  </div>

  <hr />

  <div class="d-flex justify-content-end">
    <!-- <button class="btn btn-dark me-2">Show history search</button> -->
    <button
      type="button"
      class="btn btn-dark me-2"
      data-bs-toggle="modal"
      data-bs-target="#historyWeather"
    >
      Show history search
    </button>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#hourWeather"
    >
      Show weather at avery hour at {{ weather?.location?.name }}
    </button>
  </div>

  <!-- History weather Modal -->
  <div
    class="modal fade"
    id="historyWeather"
    tabindex="-1"
    aria-labelledby="historyWeatherModal"
    aria-hidden="true"
  >
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="historyWeatherModal">
            History Weather
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-history-weather
            [historyWeather]="historyWeathers"
          ></app-history-weather>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Hour weather Modal -->
  <div
    class="modal fade"
    id="hourWeather"
    tabindex="-1"
    aria-labelledby="hourWeatherModal"
    aria-hidden="true"
  >
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="hourWeatherModal">
            Weather at every hour
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-hour-weather [hourWeather]="hourWeather"></app-hour-weather>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- @if(showWeather) {
  <p class="fw-bold fs-4">
    Today weather at every hour at {{ weather?.location?.name }}
  </p>
  <app-hour-weather [hourWeather]="hourWeather"></app-hour-weather>
  } -->

  <hr />

  <p class="fw-bold fs-4">One week forecast at {{ weather?.location?.name }}</p>
  <app-weather-forecast [forecast]="forecast"></app-weather-forecast>

  <hr />

  <app-subcribe-notification></app-subcribe-notification>
</div>
} @else {
<div class="container-fluid px-5">
  <h2 class="">Loading...</h2>
</div>
}
